*{
    margin: 0;
    padding: 0;
}
.navbar{
    color:white;
    background-color: rgb(151, 106, 106);
    padding: 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    padding-left: 20px;
}

.TTT{
    background-image:url(./123.jpg);
    background-repeat:no-repeat;
    background-size:cover ;
    height:80%;
    width:100vw;
}
.btn-start{
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-start:hover{
    background-color: blueviolet;
}
    

